{% extends 'base.html' %}
{% load static %}
{% block title %}PharmAbout{% endblock %}
{% block content %}
<div class="wrapper">
	<div class="panel title-panel">
		<h2 class="h2">Our Mission</h2>
	</div>
	<div class="panel article-section">
		<p>
			SmartFarmer is an IoT service that has a main goal of providing data analytics of farm plots as a hardware and
		software service. Because this project is being deployed for the purpose of improving farm quality, it takes in
		consideration of public health, safety, and welfare by allowing farmers to monitor their crops by aiding in
		tackling food insecurity.</p>
		<p>
			Because the goal of this project is to improve the quality of the farms, the SmartFarmer project is able to
		provide improved crop yields by giving farmers more information about the health of their farms. Data analysis
		on soil humidity levels, soil health, and air temperature can help inform farmers with taking the correct
		approach in improving their farms. This granularity in information can result in a higher yield in crops and
		reduce the risk of poor harvests. With urban areas like Orange County often having high percentages of food
		insecurity in their population, having the ability to produce more food can mitigate the food insecurity issues
		in such urban areas. This is achieved by allocating the increase in food towards state programs like
		CalFresh and SNAP.</p>
		<p>
			Alleviating food insecurity has a positive effect for the public, as it improves the welfare for low income
		populations. This improvement in welfare and an increase in food has the likely effect of improving public
		health particularly towards children. While the correlation of increased food
		security and improved public health are still needing further research, the alleviation of food insecurity still
		contribute to the overall wellbeing of the local population. This can be achieved by the SmartFarmer project, a
		project that can contribute to tackling food insecurity by providing tools to the farmer.</p>

	</div>
	<div class="panel article-section">
		<iframe src="/static/img/Senior_Design_Fall_Final_Report.pdf" width="100%" height="800px" style="border: none;"></iframe>
	</div>
</div>
{% endblock %}
{% block contentcss %}
<style>
	#about_link {
		color: white;
		background: var(--link-bg);
	}

	.wrapper {
		display: grid;
		grid-gap: 20px;
	}
</style>
{% endblock %}