<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-theme="light">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Track and monitor your plants online">
	<meta name="theme-color" content="#317EFB"/>
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" /> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/home-deploy.css' %}" />
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="page-wrapper">
    	<header class="header-container">
    	    {% include 'header.html' %}
    	</header>
    
    	<aside class="aside-container">
			{% include 'sidebar.html' %}
    	</aside>

   		<main class="site-content">
		   <div class="center">
    	    {% block content %}
    	    {% endblock %}
			</div>
    	</main>

    	<footer class="footer-container">
    	    {% include 'footer.html' %}
    	</footer>
    </div>
    <script src="{% static 'base.js' %}"></script>
</body>
</html>