{% extends 'base.html' %}
{% load static %}
{% block title %}PharmContact{% endblock %}
{% block headerlink %}{% url 'login' %}{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="wrapper">
	<div class="panel title-panel">
		<h2 class="h2">Contact Page</h2>
	</div>
	<div class="panel article-section">
		<p>Another title </p>
	</div>
	<div class="panel article-section">
		<p>In contact </p>
	</div>
</div>
{% endblock %}
{% block contentcss %}
<style>
	.wel-header{
		position: relative;
	}
	.regis-link{
		color: rgb(46, 46, 46);
	}
	#contact_link{
  		color:white;
  		background: var(--link-bg);
	}
	.wrapper {
  		display: grid;
  		grid-gap: 20px;
	}
</style>
{% endblock %}