{% extends 'base.html' %}
{% load static %}
{% block title %}PharmContact{% endblock %}
{% block content %}
<div class="wrapper">
	<div class="panel title-panel">
		<h2 class="h2">Contact Page</h2>
	</div>
	<div class="panel article-section">
		<p>Another title </p>
	</div>
	<div class="panel article-section">
		<p>In contact </p>
	</div>
</div>
{% endblock %}
{% block css %}
<style>
	#contact_link{
  		color:white;
  		background: var(--link-bg);
	}
	.wrapper {
  		display: grid;
  		grid-gap: 20px;
	}
</style>
{% endblock %}