{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/graphs.css' %}" />{% endblock %}
{% block title %}PharmGraphs{% endblock %}
{% block js %}<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->{% endblock %}
{% block content %}
<div class = "wrapper">
	<div class="panel title-panel">
		<h1 class="h1">Graphs Page</h1>
	</div>
	<div id = "bodypage">
		<div class = "graph-container">
			<div id = "graph">	
				<script src="{% static 'plotly-basic.min.js' %}"></script>
				{{object|safe}}
			</div>
		</div>
		<div class = "panel article-container">
				<p> in graphs </p>
		</div>
	</div>
</div>
{% endblock %}