{% load static %}
<div class="top-header">
    <div style="width: 30px; height: 30px;"> 
        <button class="button open-aside" onclick="openSidebar()" aria-label="Open sidebar"> 
            <svg class="button-svg" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                viewBox="0 0 100 100" width="100%">
                <rect width="100" height="20" />
                <rect width="100" height="20" y="40" />
                <rect width="100" height="20" y="80" /></svg> </button> </div>
    <div class="header-logo-container">
        <h1 class="page-title-logo">Pharmsmart</h1>
    </div>
</div>
<nav class="navbar">
    <ul>
        <li><a id="main_link" href="{% url 'home' %}">Main</a></li>
        <li><a id="graphs_link" href="{% url 'graphs' %}">Graphs</a></li>
        <li><a id="about_link" href="{% url 'about' %}">About</a></li>
        <li><a id="contact_link" href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>