{% extends 'base.html' %}
{% load static %}
{% block js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block weatherjs %}
<script>
  const weatherWidget = document.querySelector(".weather-widget-container");
  const cityName = document.querySelector(".city");
  const temperature = document.querySelector(".temperature");
  const weatherIcon = document.querySelector(".weathericon");
  const description = document.querySelector(".description");
  let lastSrc = weatherIcon.getAttribute('src');
  const dataPanel7 = document.querySelector(".data-panel-7");

  if (lastSrc.slice(-5).charAt(0) == ('n')) {
    weatherWidget.classList.remove("weather-day");
    weatherWidget.classList.add("weather-night");
  }
  function getAjax(url, success) {
    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
    xhr.open('GET', url);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onreadystatechange = function () {
      if (xhr.readyState > 3 && xhr.status == 200) success(xhr.responseText);
    };
    xhr.send();
    return xhr;
  }

  function getWeather() {
    getAjax("/home", function (data) {
      let json = JSON.parse(data);
      cityName.innerHTML = json.city;
      temperature.innerHTML = json.temperature + '&#176;';
      let newSrc = "../static/weathericons/" + json.icon + ".svg";
      if (lastSrc != newSrc) {
        lastSrc = newSrc;
        weatherIcon.setAttribute("src", newSrc);
      }
      if ((json.icon).slice(-1) == ('n')) {
        weatherWidget.classList.remove("weather-day");
        weatherWidget.classList.add("weather-night");
      }
      description.innerHTML = json.description;
    })
  }
  setInterval(getWeather, 60000);

  var feedback = document.querySelectorAll(".module-container-analysis");
  var content = document.querySelectorAll(".feedback");
  feedback[0].addEventListener("click", function () {
    if (content[0].style.display === "block") {
      content[0].style.display = "none";
    } else {
      content[0].style.display = "block";
      content[0].style.height = "40px";
    }
  });
</script>
{% endblock %}{% block title %}PharmHome{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="row">
    <div class="widget-panel data-panel-0">
      <div class="notification-panel">
        Notifications<br><br>New sensors installed!
      </div>
      <div class="suggestions-panel">
        Suggestions<br><br> ----
      </div>
    </div>
  </div>
  <div class="row">
    <div class="module-container">
      <div class="module-container-title">
        Module ID:xxxxxxxx for Strawberries
      </div>
      <div class="widgets-container">
        <div class="row">
          <div class="widget-panel data-panel-1">
            <!--widget1-->
            <div class="weather-widget-container weather-day">
              <div class="wwc-content-box">
                <h2 class="city" style="margin:0; line-height: 50px; overflow: hidden;">{{city}}</h2>
                <div style="display: flex; justify-content: center;">
                  <p class="temperature" style="font-size: 40px; margin: 0; width: 120px; overflow: hidden;">
                    {{temperature}}&#176;
                  </p>
                </div>
              </div>
              <div class="wwc-content-box"><img class="weathericon" src="../static/weathericons/{{icon}}.svg"
                  alt="Image" width="100px">
                <p class="description" style="font-size: 24px; margin: 0;">{{description}}</p>
              </div>
            </div>
          </div>
          <div class="widget-panel data-panel-2">
            <!--widget2-->
            <h3>Local Temperature</h3>
            <p style="font-size: 30px;">{{aT}}&#176;C</p>
          </div>
        </div>
        <div class="row">
          <div class="widget-panel data-panel-3">
            <!--widget3-->
            <h4>Humidity Level</h4>
            <p>{{aH}}</p>
          </div>
          <div class="widget-panel data-panel-4">
            <!--widget4-->
            <h4>Moisture Level</h4>
            <p>{{aSM}}</p>
          </div>

          <div class="widget-panel data-panel-5">
            <h4>Moisture Temperature</h4>
            <p>{{aST}}</p>
          </div>

          <div class="widget-panel data-panel-6">
            <h4>Last Update</h4>
            <p>{{date}}</p>
          </div>

        </div>
      </div>
      <button type="button" class="module-container-analysis">
        Quick Feedback</button>
      <div class="feedback">
        {{msg}}
      </div>

    </div>
  </div>
  <div class="row-graphs">
    <div>
      <div class="widget-panel data-panel-7">
        {{object|safe}}
      </div>
    </div>
    <div>
      <div class="widget-panel data-panel-8">
        {{object2|safe}}
      </div>
    </div>
  </div>
  <div class="row-graphs">
    <div>
      <div class="widget-panel data-panel-7">
        {{object3|safe}}
      </div>
    </div>
    <div>
      <div class="widget-panel data-panel-8">
        {{object4|safe}}
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block contentcss %}
<style>
  #main_link {
    color: #fff;
    background: var(--link-bg)
  }

  .module-container {
    display: grid;
    grid-auto-flow: row;
    background-color: var(--widget-panel-bg);
    box-shadow: var(--extended-shadow);
    box-sizing: border-box;
    grid-gap: 20px;

  }

  .module-container-title {
    display: grid;
    height: max-content;
    padding-top: 10px;
  }

  .module-container-analysis {
    cursor: pointer;
    border: none;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    color: white;
    background: -webkit-linear-gradient(to right, #818181, #a1a1a1);
    background: linear-gradient(to right, #8a8a8a, #a1a1a1);
  }

  .module-container-analysis:hover {
    opacity: 0.5;
    border: none;
  }

  .feedback {
    display: none;
    height: 40px;
  }

  .widgets-container {
    display: grid;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrapper {
    display: grid;
    grid-gap: 20px;
  }

  .row {
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    width: 100%;
  }

  .weather-widget-container {
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    color: #fff;
    text-shadow: 0 0 5px #000000ee;
    padding: 10px;
    animation-name: weatherbg;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    box-sizing: border-box
  }

  .wwc-content-box {
    display: inline-block
  }

  .weather-day {
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);
    background-size: 300% 300%
  }

  .weather-night {
    background: #000046;
    background: -webkit-linear-gradient(to right, #000046, #1cb5e0);
    background: linear-gradient(to right, #000046, #1cb5e0);
    background-size: 300% 300%
  }

  .data-panel-0 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 90px;
  }

  .data-panel-1 {
    height: 250px;
  }

  .data-panel-2 {
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(to right, #f19011, #f5af19);
    background: linear-gradient(to right, #f19011, #f5af19);
    color: white;
    text-shadow: 0 0 5px #000000ee;
  }

  .data-panel-3 {
    height: 150px;
    background: -webkit-linear-gradient(to right, #38ef7d, #21eb53);
    background: linear-gradient(to right, #38ef7d, #21eb53);
    color: white;
    text-shadow: 0 0 5px #000000ee;
  }

  .data-panel-4 {
    height: 150px;
    background: -webkit-linear-gradient(to right, #8f94fb, #8388e6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #8488df);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-shadow: 0 0 5px #000000ee;
  }

  .data-panel-5 {
    height: 150px;
    background: -webkit-linear-gradient(to right, #ffd151, #ffe259);
    background: linear-gradient(to right, #ffd151, #ffe259);
    color: white;
    text-shadow: 0 0 5px #000000ee;
  }

  .data-panel-6 {
    height: 150px;
    background: -webkit-linear-gradient(to right, #ff4800, #ff6969);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff4800, #ff6969);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-shadow: 0 0 5px #000000ee;
  }

  .data-panel-7 {}

  .data-panel-8 {}

  .row-graphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
  }

  .notification-panel {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .suggestions-panel {
    display: flex;
    align-items: center;
    justify-content: center;
  }





  @-webkit-keyframes weatherbg {
    0% {
      background-position: 10% 0
    }

    50% {
      background-position: 91% 100%
    }

    100% {
      background-position: 10% 0
    }
  }

  @-moz-keyframes weatherbg {
    0% {
      background-position: 10% 0
    }

    50% {
      background-position: 91% 100%
    }

    100% {
      background-position: 10% 0
    }
  }

  @keyframes weatherbg {
    0% {
      background-position: 10% 0
    }

    50% {
      background-position: 91% 100%
    }

    100% {
      background-position: 10% 0
    }
  }
</style>
{% endblock %}