{% load static %}
<div class="header">
  <section class="top-header">
    <div>
        <div class="theme-button-container">
          <button id="theme-button" onclick="themeChange()"></button>
        </div>
    </div>

    <div id = "icon"><img src = "{% static 'img/icon.png' %}"></div>

    <div class="header-user-container">
      <a id = "sign_in_link" href="{% url 'signin' %}" >Sign in</a>
      <div class="user-name-container"> {{user}} </div>
    </div>
  </section> 

  <nav class = "navivar">
      <a id = "main_link"    href="{% url 'home' %}"   >Main</a>
      <a id = "graphs_link"  href="{% url 'graphs' %}" >Graphs</a>
      <a id = "about_link"   href="{% url 'about' %}"  >About</a>
      <a id = "contact_link" href="{% url 'contact' %}">Contact</a>
  </nav>
</div>
