{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class = "navivar">
  <div id = "icon"><img src = "{% static 'img/icon.png' %}"></div>
  <a id = "main_link" href="{% url 'home' %}"> <h3 class = "headersub"> Main </h3> </a>
  <a id = "graphs_link" href="{% url 'graphs' %}"> <h3  class = "headersub"> Graphs </h3> </a>
  <a id = "about_link" href="{% url 'about' %}"> <h3  class = "headersub"> About </h3></a>
  <a id = "contact_link" href="{% url 'contact' %}"> <h3  class = "headersub"> Contact </h3> </a>
  <a id = "sign_in_link" href="{% url 'signin' %}"><h3 class = "headersub"> Sign in </h3> </a>
</div>
