{% load static %}
<div class="sidebar">
	<div class="header-user-container">
    <a id = "sign_in_link" href="{% url 'signin' %}">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"viewBox="0 0 258.75 258.75" width="100%" style="max-width: 30px;">
			<circle cx="129.375" cy="60" r="60"/>
			<path d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z"/>
			</svg>
    </a>
    <div class="user-name-container"> {{request}} </div>
    <button class="button close-aside" onclick="closeSidebar()">X</button>
  </div>
  <div>
    <div class="theme-button-container">
      <button id="theme-button" onclick="themeChange()"></button>
    </div>
	</div>
</div>