{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/registration-form-base.css'%}" />
{% endblock %}
{% block title %}PharmSignin{% endblock %}
{% block content %}
<div class = "wrapper">
	<div class="panel form-panel">
		<div class="form-label">Sign in</div>
		<form class="user-form" id="login_form" action = '' method='POST'>
			{% csrf_token %}
			{{form.as_p}}
			<input class="form-submit" id="signin_button" type='submit' value ='Sign in'>
		</form>
		<div id = "create_account_label">
			<a id="create_account_link" href="{% url 'createaccount' %}"> Create account </a>
		</div>
	</div>
</div>
{% endblock %}
