/* CSS Document */
body{
  margin: 0px;
  border: 0px;
  background-color: #c8dad3;
}

#about_link>h3{
  color:white;
  background-color: #63707e;
}

#title{
  margin: 20px;
  height: 60px;
  width: 1640px;
  display: flex;
  justify-content: center;
  background-color: #f2f6f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#title>h3
{
  margin: 0px;
  padding: 15px;
  vertical-align: center;
}

#home_page_description{
  color: black;
  font-size: 30px;
  padding: 20px;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
}


#headersub2{
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

#bodypage{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 20px;
  width: 1640px;
}

.leftside{

  margin-right: 10px;
  background-color: #f2f6f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.rightside{

  margin-left: 10px;
  background-color: #f2f6f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#footer{
  color: #FCF8E3;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 20px;
  background-color: #f2f6f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 1640px;
}
#footertext{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  height: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

@media only screen and (max-width: 1640px) {
  #title{
    margin: 20px;
    height: 60px;
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: #f2f6f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  #footer{
    color: #FCF8E3;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 20px;
    background-color: #f2f6f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
  }
  .wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

  }
  #secondColwrapper{
    display: flex;
    justify-content: center;
  }
  #bodypage{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto auto;
    margin: 20px;
    width: 800px;
  }

  .leftside{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .leftside>p{
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }


  .rightside{
      margin-left: 0px;
  }

}
