html {
  height: 100%;
  --panel-bg-color: white;
  --panel-round-bg: linear-gradient(to right, #fdfdfd, #ffffff);
  --link-bg: rgba(128, 128, 128, 0.35);
  --text-color: black;
  --link-color: rgb(14, 117, 158);
  --panel-border-color: rgb(204, 204, 204);
  --nav-bg-color: linear-gradient(
    to right,
    rgba(122, 255, 215, 0.5),
    rgba(167, 255, 120, 0.5)
  );
  --aside-bg: rgb(255, 255, 255);
  --footer-bg-color: #9fc4ba;
  --footer-border-color: rgb(148, 148, 148);
  --body-bg: linear-gradient(to right,rgba(28, 138, 99, 0.4),  rgba(114, 190, 142, 0.4));
  
}
html[data-theme="dark"] {
  --body-bg: black;
  --panel-bg-color: rgb(0, 51, 61);
  --panel-round-bg: linear-gradient(to right, #313131, #575757);
  --text-color: rgb(255, 255, 255);
  --link-color: rgb(0, 195, 255);
  --panel-border-color: rgb(0, 51, 61);
  --aside-bg: rgb(23, 49, 60);
  --nav-bg-color: rgba(0, 155, 182, 0.3);
  --footer-bg-color: rgb(0, 51, 61);
  --footer-border-color: rgb(2, 67, 80);
}
/*//////////////header.css/////////////////////*/
.top-header {
  padding: 0px 30px;
  height: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.navbar{
  height: 50px;
  width: inherit;
  z-index: 2;
  width: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.navivar{
  height: auto;
  max-width: 760px;
  width: 100%;
  padding: 4px 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
}
.navivar > a {
  height: auto;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: gray;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navivar > a:hover {
  color: rgb(255, 255, 255);
}
#icon {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*//////////////sidebar.css//////////////////*/
.sidebar {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  box-sizing: border-box;
}
.close-aside {
  float: right;
}
#sign_in_link {
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  float: left;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  box-sizing: border-box;
}
#sign_in_link:hover {
  cursor: pointer;
}
#sign_in_link:active {
  background-color: rgb(201, 201, 201);
}
.user-name-container {
  background-color: aquamarine;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  padding: 0px 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: black;
  float: left;
}
#theme-button {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  outline: none;
  box-sizing: unset;
}
#theme-button:hover {
  cursor: pointer;
}

/*//////////////footer.css///////////////////*/
#footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
#footertext{
  vertical-align: middle;
  font-size: 16px;
  color: var(--text-color);
}
/*///////////////base.css////////////////////*/
body {
  margin: 0px;
  border: 0px;
  background: rgb(122, 206, 176);
  background: var(--body-bg); 
  color: var(--text-color);
  height: 100%;
}
.page-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header-container {
  width: 100%;
  grid-area: header;
  background: var(--nav-bg-color);
  box-shadow: 3px 0px 6px 2px rgba(32, 33, 36, 0.308);
}
.fixed-nav .navbar {
  position: fixed;
  top: 0;
  background: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 6px 2px rgba(32, 33, 36, 0.308);
}
.aside-container {
  height: 100%;
  width: 320px;
  background: var(--aside-bg);
  z-index: 3;
  grid-area: aside;
  position: fixed;
  display: none;
  box-shadow: 3px 0px 6px 2px rgba(32, 33, 36, 0.308);
}
.center {
  max-width: 1500px;
  width: 100%;
  padding: 20px;
  display: inline-block;
  box-sizing: border-box;
}
.footer-container {
  grid-area: footer;
  height: 100px;
  background-color: var(--footer-bg-color);
  border-top: 1px solid var(--footer-border-color);
  box-sizing: border-box;
}
.panel {
  background-color: var(--panel-bg-color);
  box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.28);
}
.round-panel {
  box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.28);
  background: var(--panel-bg-color);
}
.site-content {
  height: auto;
  text-align: center;
  box-sizing: border-box;
  grid-area: main;
}
.site-content > center {
  padding: 20px;
}
.title-panel {
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
.button {
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 4px;
  border: 0;
  outline: none;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
.button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1250px){
  .article-container{
    grid-template-columns: auto auto;
  }
  .leftside{
    display:none;
  }
}
@media only screen and (max-width: 780px) {
  body {
    min-width: 320px;
  }
  .data-panel-container {
    grid-template-columns: auto;
    grid-row: 1/2;
  }
  .middle{
    grid-row: 2/3;
  }
  .article-container {
    grid-template-columns: auto;
  }
  .aside-container {
    display: none;
    box-shadow: 2px 0px 6px 0 rgba(32, 33, 36, 0.28);
    position: fixed;
    height: 100%;
    width: 310px;
  }
  .navivar > a {
    font-size: 14px;
  }
  .form-submit {
    font-size: 14px;
  }
}