html {
  font-size: 62.5%; /*makes default font 10px?*/
  height: 100%;
  --body-bg: #fff;
  --panel-bg-color: #CEFCE9;
  --widget-panel-bg: #aaecaa;
  --link-bg: #18997259;
  --text-color: #292929;
  --link-color: #0e759e;
  --panel-border-color: #cccccc;
  --nav-bg-webkit: -webkit-linear-gradient(to right,#7affd7,#a9ff7a);
  --nav-bg-color: linear-gradient(to right,#7affd7,#a9ff7a);
  --aside-bg: #fff;
  --footer-bg-color: #547a70;
  --footer-text-color: white;
  --footer-border-color: #949494;
  --svg-open-sb-fill: #80808099;
  --extended-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
html[data-theme="dark"] {
  --body-bg: black;
  --panel-bg-color: #323232;
  --widget-panel-bg: #5c2e2e;
  --text-color: #fff;
  --link-bg: #0892aa79;
  --link-color: #00c3ff;
  --panel-border-color: #00333d;
  --aside-bg: #323232;
  --nav-bg-webkit: -webkit-linear-gradient(to right, #FF6B6B, #556270); 
	--nav-bg-color: linear-gradient(to right, #3a3a3a, #3a3a3a); 
  --footer-bg-color: #323232;
  --footer-border-color: #024350;
  --svg-open-sb-fill: #fff;
}
body {
  margin: 0;
  border: 0;
  height: 100%;
  min-width: 320px;
  background: var(--body-bg);
  color: var(--text-color);
}
.base-page-wrapper {
  height: 100%;
  font-size: 2rem;
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  	"header"
    "main"
    "footer";
}
/*//////////////SIDEBAR//////////////////*/
.sidebar-container {
  grid-area: aside;
  height: 100%;
  width: 0;
  background: var(--aside-bg);
  z-index: 5;
  position: fixed;
  right: 0;
  box-shadow: 3px 0 6px 2px #2021244f;
  transition: .3s;
}
.sidebar {
  height: 100%;
  width: 320px;
  padding: 5px;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  box-sizing: border-box;
}
.close-aside {
  float: right;
}
.user-logo {
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  float: left;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
  outline: none;
  box-sizing: border-box;
}
.user-logo:hover {
  cursor: pointer;
}
.user-name-container {
  background-color: aquamarine;
  height: 40px;
  line-height: 40px;
  font-size: 2.3rem;
  padding: 0 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: black;
  float: left;
}
#theme-button{
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self:left;
}
/*///////////////MAIN////////////////////*/
.site-content {
  margin-top: 50px;
  grid-area: main;
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.center {
  max-width: 1500px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
/*////////FOOTER//////////*/
.footer-container {
  grid-area: footer;
  min-height: 150px;
  font-family: monospace;
  color: var(--footer-text-color);
  font-size: 3rem;
  background-color: var(--footer-bg-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*/////////////ITEMS//////////*/
.uwu-logo{
  text-decoration: none;
}
.page-title-logo {
  margin: 0;
  font-size: 32px;
  width: 190px;
  color: white;
  font-family: monospace;
  background: #159957;/*fallback*/
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
  border-radius: 10px;
	display: flex;
 	justify-content: center;
}
.h2{
  text-align: center;
  font-size: 3.5rem;
  font-family: monospace;
  color: var(--text-color);
}
.panel {
  background: #CEFCE9;; /*fallback*/
  background: var(--panel-bg-color);
}
.widget-panel {
  font-size: 2rem;
  background: #aaecaa; /*fallback*/
  background: var(--widget-panel-bg);
  box-shadow: var(--extended-shadow);
  height: 200px;
  box-sizing: border-box;
}
.article-section{
  text-align: left;
  font-size: 2.8rem;
  color: var(--text-color);
  box-sizing: border-box;
  padding: 20px;
}
.title-panel {
  height: auto;
  display: flex;
  justify-content: center;
}
.button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 22px;
  border-radius: 0;
  border: 0;
  outline: none;
  color: var(--text-color);
  background: #ffffff00;
  box-sizing: border-box;
}
.button:hover {
  cursor: pointer;
}

.form-panel{
  max-width: 600px;
  display: inline-block;
  width: 100%;
  font-family: Clarkson, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #d8e1fd;  /* fallback for old browsers */
  background: -webkit-linear-gradient( 219deg, #e2e2e21a, #c9d6ff1a); 
  background: linear-gradient( 219deg, #ffffff, #f2f5ff); 
  padding-bottom: 30px;
  margin-bottom: 50px;
  /* box-shadow: 0 0 16px 2px #d8dcfd; */
  box-shadow: 0 5px 40px 0px #bdbcc7cb;
  backdrop-filter: blur(40px);
}
.underline-link{
  color: black;
  margin: 20px;
  display: inline-block;
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: rgba(232, 240, 254);
  border: 0;
  border-radius: 5px;
}
.form-submit{
  background-color: #5aaca7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:100%;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
}
.form-submit:hover{
  opacity: 0.8;
}
.user-form{
  width: 50%;
  color: rgb(97, 97, 97);
  margin: auto;
  display: grid;
  grid-gap: 10px;
}
.form-label{
  height: 60px;
  font-size: 24px;
  color: rgb(29,29,29);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}