/* CSS Document */
body{
  margin: 0px;
  border: 0px;
  font-family: "Arial", sans-serif;
  background-color: rgb(250, 250, 250);
}

h3{
  color: #A0410D;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  color: #FCF8E3;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a>h3:hover{
  color: black;
}

#main_link{
  text-decoration: none;
}

#graphs_link{
  text-decoration: none;
}

#about_link{
  text-decoration: none;
}

#contact_link{
  text-decoration: none;
}

#contact_link>h3{
  color: black;
}

#icon{
  display: block;
  width: 15%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#footertext{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  height: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

#graph{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#home_page_description{
  color: gray;
  font-size: 16px;
}
.wrapper {
  margin: 0 auto;
  border: 30px black;
  display: grid;
  grid-template-rows: auto auto auto 70px;
}

.header{
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: auto;
  grid-row: 1/2;
  color: white;
}
.headersub{
  color: gray;
  margin: 0px;
  font-size: 12px;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20;
}

.headersub2{
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.bodypage{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 3/4;
}

.leftside{
  grid-column: 1/2;
  grid-row: 1/2;
}

.rightside{
  grid-column: 2/3;
  grid-row: 1/2;
}

.footer{
  grid-row: 4/5;
  color: #FCF8E3;
  padding: 0;
}
