#contact_link{
  color:white;
  background-color: #63707e;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}
.bodypage{
  display: grid;
  grid-gap: 20px;
}
.to-be-named-1{
  padding: 20px; 
}
.to-be-named-2{
  padding: 20px;
}