#graphs_link{
  color:white;
  background-color: #63707e;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}
#graph{
  padding: 10px;
  width: 100%;
}
#bodypage{
  display: grid;
  grid-gap: 20px;
}
.graph-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-container{
  padding: 20px;
}
