/* CSS Document */
body{
  margin: 0px;
  border: 0px;
  background-color: #c8dad3;
}

#graphs_link>h3{
  color:white;
  background-color: #63707e;
}

#footertext{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  height: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

#graph{
  padding: 10px;
  border-radius: 15px 15px 6px 5px;
}
#home_page_description{
  color: black;
  font-size: 30px;
  padding: 20px;
}
#title{
  margin: 20px;
  height: 60px;
  width: 1640px;
  display: flex;
  justify-content: center;
  background-color: #f2f6f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#title>h3
{
  margin: 0px;
  padding: 15px;
  vertical-align: center;
}

.bar:nth-child(even){
  background-color: #64ccda;
  border-radius: 15px 15px 15px 6px;
}
.bar:nth-child(odd){
  background-color: #f9b282;
  border-radius: 15px 15px 15px 6px;
}
.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
}


.headersub2{
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#bodypage{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 3/4;
  margin: 20px;
  width: 1640px;
}

.leftside{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}


.rightside{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 10px;
    background-color: #f2f6f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


#footer{
  color: #FCF8E3;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 20px;
  background-color: #f2f6f5;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 1640px;
}
/*
@media only screen and (max-width: 780px) {
  .bodypage{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 3/4;
    grid-template-rows: 1fr 4fr
  }

  .leftside{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
  }

  .rightside{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #graph{
    width: 300px;
    margin: auto;
    max-height: 300px;
  }
  #home_page_description{
    color: gray;
    font-size: 16px;
    padding: 20px;

  }

}
@media only screen and (max-width: 850px) {
  #graph{
    width: 300px;
    margin: auto;
    max-height: 300px;
  }
}
*/
