#main_link {
  color: #fff;
  background: var(--link-bg)
}

.wrapper {
  display: grid;
  grid-gap: 20px
}

.big-image {
  background-color: #c9c9c9;
  max-height: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: -50%
}

.article-container {
  display: grid;
  grid-template-rows: auto auto 250px;
  grid-gap: 20px
}

.data-panel-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px
}

.data-panel {
  height: 200px;
  box-sizing: border-box
}

.weather-widget-container {
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  color: #fff;
  text-shadow: 0 0 5px #000000ee;
  padding: 10px;
  animation-name: weatherbg;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  box-sizing: border-box
}

.wwc-content-box {
  display: inline-block
}

.weather-day {
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  background-size: 300% 300%
}

.weather-night {
  background: #000046;
  background: -webkit-linear-gradient(to right, #000046, #1cb5e0);
  background: linear-gradient(to right, #000046, #1cb5e0);
  background-size: 300% 300%
}

@-webkit-keyframes weatherbg {
  0% {
    background-position: 10% 0
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0
  }
}

@-moz-keyframes weatherbg {
  0% {
    background-position: 10% 0
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0
  }
}

@keyframes weatherbg {
  0% {
    background-position: 10% 0
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0
  }
}

#data-panel-2 {
  background: #3a9fb1
}

.leftside {
  max-height: 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px
}