
h1{
  color: #FCF8E3;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
a>h3:hover{
  color:white;
  background-color: #63707e;
}

.navivar>a{
  padding: 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navivar{
  display: grid;
  grid-template-rows:100px auto auto auto auto auto;
}
.headersub{
  color: gray;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-family: "Arial", sans-serif;
  width: 100%;
}

#icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon>img{
  width: 150px;
}
#main_link{
  text-decoration: none;
}

#graphs_link{
  text-decoration: none;
}

#about_link{
  text-decoration: none;
}

#contact_link{
  text-decoration: none;
}

#sign_in_link{
  text-decoration: none;
}
.naviwrapper{
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #93b5b3;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1640px) {
  .navivar{
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  #icon{order: 1;}
  #main_link{order: 2;}
  #graphs_link{order: 3;}
  #about_link{order: 4;}
  #contact_link{order: 5;}
  #sign_in_link{order: 6;}
  .naviwrapper{
    height: auto;
    width: 100%;
    background-color: #93b5b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .headersub{
    color: gray;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-family: "Arial", sans-serif;
    width: 100%;
  }
}
/*
@media only screen and (max-width: 780px) {
  .headersub{
    color: gray;
    margin: 0px;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    padding: 0;
    font-family: "Arial", sans-serif;
    padding-left: 10px;
    padding-right:10px;
  }
  .navivar{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  }
  #icon{
    display: block;
    width: 70px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/
