.navivar{
  background-color: var(--nav-bg-color);
  box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
  height: 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto repeat(5, minmax(40px, 1fr)) 40px;
}
.navivar>a{
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: gray;
  text-decoration: none;
  height: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navivar>a:hover{
  color:rgb(255, 255, 255);
}
#icon{
  height: inherit;
}
#icon>img{
  height: inherit;
}
.theme-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: inherit;
  box-sizing: border-box;
}
#theme-button{
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0;
  border: 0;
  border-radius: 4px;
  outline: none;
}