.sidebar {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  box-sizing: border-box;
}
.close-aside {
  float: right;
}
#sign_in_link {
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  float: left;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  content: url("user.svg");
  outline: none;
  box-sizing: border-box;
}
#sign_in_link:hover {
  cursor: pointer;
}
#sign_in_link:active {
  background-color: rgb(201, 201, 201);
}
.user-name-container {
  background-color: aquamarine;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  padding: 0px 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: black;
  float: left;
}
#theme-button {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  outline: none;
  box-sizing: unset;
}
#theme-button:hover {
  cursor: pointer;
}
